
# Archivos y carpetas de Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
app-*

# Archivos específicos de la plataforma
/android/local.properties
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets/
/ios/Runner/GeneratedPluginRegistrant.*

# Archivos de configuración del IDE
.idea/
.vscode/
*.iml
*.iws

# Otros
.DS_Store
*.swp
*~
